*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 11pt;
}
body {
    display: grid;
    grid-template-columns: 150px auto;
    max-width:700px;
}

section {
    margin-bottom: 11pt;
}

.section-title{
    text-align: center;
}

#content {
    padding: 10px;
}

#menu {
    background-color: whitesmoke;
    padding: 10px;
}
#menu ul {
    list-style-type: none;
}

