*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 11pt;
}
body {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin-bottom: 11pt;
}

img {
    max-width: 100%;
}

.section-title{
    text-align: center;
}

#content {
    padding: 10px;
    max-width: 550px;
}

#menu {
    background-color: whitesmoke;
    padding: 10px;
    width: 150px;
}
#menu ul {
    list-style-type: none;
}

